h1 {
    font-style: italic;
    color: #750909;
    font-size: 50;
}

h2 {
    text-decoration: underline;
}

body {
    background-color: burlywood;
}

a {
    color: #20B2AA;
  text-decoration:none;
  }

  a:visited {
      color: #20B2AA;
  }

  a:hover {
      color: blue
 }

body {
    flex-direction: left;
}
#left {
    width: 50%;
    float: left;
}

#right{
    width: 50%;
    float:right; 
}

.linkedin {
    width:50x;
    height:50px;
}
